# Formas de conexão

# Conexão com Windows Authentication	
CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=AssetDB;Trusted_Connection=True;TrustServerCertificate=True
JWT_KEY=nova_chave_da_api_novamente_se_quiser_man
# Conexão com SQL Server Authentication
# CONNECTION_STRING=Server=localhost;Database=AssetDB;User Id=SEU_USUARIO;PASSWORD=SUA_SENHA;Trusted_Connection=True;TrustServerCertificate=True

# Autenticação com JWT
# JWT_KEY=varchar(32)