# Formas de conexão

# Conexão com Windows Authentication	
CONNECTION_STRING=Server=localhost;Database=AssetDB;Trusted_Connection=True;TrustServerCertificate=True

# Conexão com SQL Server Authentication
CONNECTION_STRING=Server=localhost;Database=AssetDB;User Id=SEU_USUARIO;PASSWORD=SUA_SENHA;Trusted_Connection=True;TrustServerCertificate=True
