* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --tamanho-fonte-titulo: 35px;
  --tamanho-fonte-subtitulo: 30px;

  --tamanho-fonte-padrao: 20px;
  --tamanho-fonte-titulo: 35px;
  --cor-vermelha: #ce2c2c;
  --cor-fundo: #eef1f5;
  --cor-texto: #0f172a;
  --cor-cinza: #9ca3af;

  --vermelho: #cf2929;
  --fundo: #eef1f5;
  --texto: #111111;
  --cinza-texto: #444444;
}

.layout_guide{
  width: 80%;
}