    .topbar {
    height: 66px;
    background-color: var(--vermelho);
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.22);
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 110px;
    display: block;
}

.menuList {
    display: flex;
    list-style: none;
    gap: 180px;
}

.menuLink {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.userArea {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #ffffff;
}

.userIcon {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--vermelho);
    font-size: 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userInfo strong {
    font-size: 15px;
}

.userInfo span {
    font-size: 12px;
}

.arrowButton,
.hamburguer {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 24px;
}

.hamburguer {
    display: none;
}